li {
    list-style: none;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 13rem);
    justify-content: center;

}

#product {
    border: 1px solid;
    border-radius: 10px;
    background-color: aliceblue;
    height: 350px;
    margin: 1rem;
}

#product-title {
    height: 110px;
}

#product-button {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

#product-image {
    padding: 2rem;
}

img {
    width: 60px;
    height: 50px;
}